/** Home page */



/** Carousel */

#carouselDiv{
    display: flex;
    justify-content: center;
}

#carouselElement{
    width: 45%;
    box-shadow: 1px 1px 3px black;
}

/** Single recipe */

#singleRecipeCard{
    background-color: rgb(247, 247, 247);
    border: 0;
    box-shadow: .1px .1px 2px black;
    transition: .18s;
}

#singleRecipeCard:hover{
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

#singleRecipeImg{
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
}

#singleRecipeName{
    color: black;
    font-weight: bold;
}


/** Error page */

#notFoundDiv{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    align-items: center;
}

#notFoundDiv img{
    width: 60%;
    margin-bottom: 30px;
}

#notFoundHomeButton{
    width: 120px;
    height: 30px;
    margin-top: 30px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 15px;
    transition: .1s;
}

#notFoundHomeButton:hover{
    width: 125px;
    height: 33px;
    background-color: rgb(209, 209, 209);
}